<%- include('../partials/header') %>

    <main class="container main__cart">
        <section class="cart__content">
            <h2 class="cart__title">CARRITO DE COMPRAS</h2>
            <section class="cart__items">
                <article class="row cart__card cart__card--titles">
                    <span class="col-2"></span>
                    <span class="col-5">detalle de producto</span>
                    <span class="col-3">cantidad</span>
                    <span class="col-2">total</span>
                    <span class="col-1"></span>
                </article>

                <% cart.forEach(item=> { %>
                    <article id="cart__container" class="row cart__card cart__card--prod">
                        <div class="col-12 col-md-2 col-lg-2">
                            <img class="cart__item--img" src="../img/<%= item.image_front %>">
                        </div>
                        <div class="col-12 col-md-5 col-lg-5">
                            <h2 class="cart__item--name">
                                <%= item.product_name %>
                            </h2>
                            <p class="cart__item--licence">
                                <%= item.licence_name %>
                            </p>
                            <p class="cart__item--price price">Precio unitario: $<%= item.price %>
                            </p>
                        </div>
                        <div class="col-5 col-md-2 col-lg-2 d-flex">
                            <input class="items__input items__input--cart" type="text" name="quantity"
                                id="<%= 'quantityOne' + item.product_id %>" value="<%= item.quantity %>"
                                placeholder="0">
                            <div class="items__cart--btn">
                                <button onclick="updateQuantity('<%= item.product_id %>', 'addOne')"
                                    class="items__cart--mas red">+</button>
                                <button onclick="updateQuantity('<%= item.product_id %>', 'subtractOne')"
                                    class="items__cart--menos red">-</button>

                            </div>
                        </div>
                        <div class="col-6 col-md-2 col-lg-2 cart__item--total">$ <%= item.total %>
                        </div>
                        <button onclick="deleteItem('<%= item.product_id %>')"
                            class="col-1 col-md-1 col-lg-1 d-flex justify-content-end cart__delete">
                            <iconify-icon class="cart__item--delete" icon="iconoir:delete-circle"></iconify-icon>
                        </button>
                    </article>
                    <% }) %>
            </section>
        </section>

        <div class="resume">
            <h2 class="cart__title">RESUMEN</h2>
        </div>
        <section class="d-flex flex-column justify-content-end align-items-end">
            <article>
                <div class="row cart__card cart__resume">
                    <div class="col-12 col-md-4 col-lg-6 cart__card--titles">
                        <p class="text-left">Cantidad de Elementos</p>
                        <p class="text-left">Subtotal</p>
                        <p class="text-left">Envío</p>
                    </div>
                    <div class="col-12 col-md-4 col-lg-6 resume__text">
                        <p class="text-right">
                            <%= getTotalQuantity(cart) %>
                        </p>
                        <p class="text-right">$ <%= getSubtotal(cart) %>
                        </p>
                        <p class="text-right">$ 0,00</p>
                    </div>
                    <span class="linea p-0"></span>
                    <div class="col-12 col-md-4 col-lg-6 p-0">
                        <p class="total-left">TOTAL</p>
                    </div>
                    <div class="col-12 col-md-4 col-lg-6 p-0">
                        <p class="total-right">$ <%= getCartTotal(cart) %>
                        </p>
                    </div>
                </div>
                <button class="col-12 col-md-4 col-lg-6 cart__pay w-100">ir a pagar</button>
            </article>
        </section>
    </main>

    <%- include('../partials/footer') %>

        <% function getTotalQuantity(cart) { %>
            <%= cart.reduce((total, item)=> total + item.quantity, 0) %>
                <% } %>

                    <% function getSubtotal(cart) { %>
                        $<%= cart.reduce((total, item)=> total + (item.price * item.quantity), 0).toFixed(2) %>
                            <% } %>

                                <% function getCartTotal(cart) { %>
                                    $<%= cart.reduce((total, item)=> total + (item.price * item.quantity), 0).toFixed(2)
                                        %>
                                        <% } %>

                                            <div id="cartData" data-cart="<%= JSON.stringify(cart) %>"></div>

                                            <script>
                                                var cartData = JSON.parse(document.getElementById('cartData').dataset.cart);
                                                console.log("Datos del carrito:", cartData);
                                            </script>