<section class="glide slider">
    <h2 class="slider__title">
        <%= sliderTitle %>
    </h2>
    <div class="glide__track" data-glide-el="track">
        <ul class="slider__items glide__slides">

            <% items.forEach(item=> { %>
                <li class="slider__item glide__slides" data-created-at="<%= item.create_time %>">
                    <article class="card-item">
                        <a class="card-item__link" href="/shop/item/<%= item.product_id%>">
                            <picture class="card-item__cover">
                                <img class="card-item__img--front" src="../../img/<%= item.image_front %>"
                                    alt="Tropper">
                                <img class="card-item__img--back" src="../../img/<%= item.image_back %>"
                                    alt="Trooper Box">
                                <span class="card-item__tag">NUEVO</span>
                            </picture>
                            <div class="card-item__content">
                                <p class="card-item__licence">
                                    <%= item.licence_name %>
                                </p>
                                <h4 class="card-item__name">
                                    <%= item.product_name %>
                                </h4>
                                <p class="card-item__price">$<%= item.price %>.-</p>
                                <p class="card-item__promo">
                                    <%= item.dues %> cuotas sin interés
                                </p>
                            </div>
                        </a>
                    </article>
                </li>
                <% }) %>
        </ul>
    </div>
    <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><iconify-icon class="icon"
                icon="ic:twotone-chevron-left"></iconify-icon></button>
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><iconify-icon class="icon"
                icon="ic:twotone-chevron-right"></iconify-icon></button>
    </div>
</section>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        new Glide('.glide',
            {
                type: 'carousel',
                startAt: 0,
                perView: 3,
                gap: 30,
                autoplay: 2000,
                animationDuration: 2000,
                breakpoints: {
                    991: {
                        perView: 2
                    },
                    768: {
                        perView: 1
                    }
                }
            }
        ).mount();
    });
</script>